
@bgColor:#eee;
@headerBgColor:#2D4F99;
@headerColor:#CDCBCC;
@headerBorderColor:#1F3F8A;
@headerHoverBgColor:#203f8b;
@borderColor:#ccc;

@menuActiveColor:#fbc12d;
@homeBgColor:#000018;
@homeBorderColor:#1089c2;
@homeColor:#89d3f5;


@platformActiveColor:#C91414;


@searchActiveColor:#3968C6;
@searchToolBgColor:#F9FAF9;

@import "sideNav";
@import "combobox";


.border{
    border: 1px solid @borderColor;
}
.border-bottom{
    border-bottom: 1px solid @borderColor;
}
.container{
    display: flex;
    flex-flow: column;
    background-color: @bgColor;
    .header{
        background-color: @headerBgColor;
        padding-left: 300px;
        > .nav-box{
            display: flex;
            > a{
                height: 50px;
                line-height: 50px;
                color: @headerColor;
                padding: 0 15px;
                border-left: 1px solid @headerBorderColor;
                border-right: 1px solid @headerBorderColor;
                margin-right: -1px;
                cursor: pointer;
                &:hover,
                &.active{
                    background-color: @headerHoverBgColor;
                }
                &.btn-icon{
                    padding: 0 15px 0 35px;
                }
            }
            .iconfont{
                left: 10px;
                font-size: 18px;
                line-height: 18px;
                margin-top: -9px;
                color: #fff;
            }
        }
    }
    > .body{
        flex: 1;
        overflow: hidden;
    }
}

.btn-icon{
    position: relative;
    .iconfont{
        position: absolute;
        left: 0;
        top: 50%;
        line-height: 16px;
        margin-top: -8px;
    }
}

.fit{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.lt0{
    left: 0;
    top: 0;
}

.home-container{
    background-color: @homeBgColor;
    position: relative;
    z-index: 1;
    overflow: auto;
    color: @homeColor;
    .fit;
    > .home-bg{
        position: absolute;
        z-index: -1;
        width: 100%;
        text-align: center;
        .lt0;
    }

}
.home-content{
    width: 1000px;
    margin: 0 auto;
    padding: 40px 0;
    min-height: 800px;
}

.menu-list{
    padding: 20px;
    display: flex;
    > li{
        background:center top no-repeat;
        margin: 0 13px;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        &:hover{
            background-image:url('../img/home/menu_checked.png');
            color: @menuActiveColor;
        }
    }
    .menu-item{
        width: 90px;
        padding-top: 60px;
        box-sizing: border-box;
        font-size: 14px;
        text-align: center;
        background:center 3px no-repeat;
    }
    .menu-ajgl{
        background-image:url('../img/home/menu_ajgl.png');
    }
    .menu-cbgl{
        background-image:url('../img/home/menu_cbgl.png');
    }
    .menu-ajxc{
        background-image:url('../img/home/menu_ajxc.png');
    }
    .menu-shgl{
        background-image:url('../img/home/menu_shgl.png');
    }
    .menu-jxkh{
        background-image:url('../img/home/menu_jxkh.png');
    }
    .menu-rxbz{
        background-image:url('../img/home/menu_rxbz.png');
    }
    .menu-mbxyrk{
        background-image:url('../img/home/menu_mbxyrk.png');
    }
    .menu-wdsc{
        background-image:url('../img/home/menu_wdsc.png');
    }
}

.home-box{
    border: 1px solid @homeBorderColor;
    background-color: rgba(16,137,226,.2);
    margin-bottom: 20px;
    .home-header{
        display: flex;
        height: 30px;
        line-height: 30px;
        padding-left: 15px;
        font-weight: bold;
        font-size: 14px;
        border-bottom: 1px solid @homeBorderColor;
        background: url(../img/home/header_bg.png) left top repeat-x;
    }
}
.home-nav-box{
    .home-nav-content{
        height: 300px;
    }
}

.home-nav{
    display: flex;
    .nav-item{
        background:left top no-repeat;
        height:38px;
        width:152px;
        position:relative;
        overflow:visible;
        cursor:pointer;
        &.active{
            cursor: auto;
            &:before{
                background-color:#002042;
            }
        }
        &:before{
            content:'';
            position:absolute;
            left:1px;
            bottom: -1px;
            height:1px;
            width:150px;
            z-index:20;
            background-color:#1089c2;
        }
    }
    .nav-item-qssak{
        width:169px;
        background-image:url('../img/home/text_qssak.png');
    }
    .nav-item-qssak:before,
    .nav-item-ca:before{
        width:167px;
    }
    .active.nav-item-qssak{
        background-image:url('../img/home/text_qssak_h.png');
    }

    .nav-item-ca{
        width:169px;
        background-image:url('../img/home/text_ca.png');
    }
    .active.nav-item-ca{
        background-image:url('../img/home/text_ca_h.png');
    }
    .nav-item-mbbr{
        background-image:url('../img/home/text_mbbr.png');
    }
    .nav-item-zxaj{
        background-image:url('../img/home/text_zxaj.png');
    }
    .nav-item-zxcb{
        background-image:url('../img/home/text_zxcb.png');
    }
    .nav-item-ajxc{
        background-image:url('../img/home/text_ajxc.png');
    }

    .nav-item-gddt{
        background-image:url('../img/home/text_gddt.png');
    }
    .active.nav-item-gddt{
        background-image:url('../img/home/text_gddt_h.png');
    }
    .nav-item-dxal{
        background-image:url('../img/home/text_dxal.png');
    }
    .active.nav-item-dxal{
        background-image:url('../img/home/text_dxal_h.png');
    }
    .nav-item-jzf{
        background-image:url('../img/home/text_jzf.png');
    }
    .active.nav-item-jzf{
        background-image:url('../img/home/text_jzf_h.png');
    }
    .nav-item-bzgf{
        background-image:url('../img/home/text_bzgf.png');
    }
    .active.nav-item-bzgf{
        background-image:url('../img/home/text_bzgf_h.png');
    }
    .nav-item-tszs{
        background-image:url('../img/home/text_tszs.png');
    }
    .active.nav-item-tszs{
        background-image:url('../img/home/text_tszs_h.png');
    }


    .nav-box-len2 .nav-item{
        width:130px;
        margin-right:2px;
    }
    .nav-box-len2 .nav-item:before{
        width:128px;
    }
}
.home-main{
    display: flex;
    .home-left{
        flex: 1;
    }
    .home-right{
        width: 268px;
        margin-left: 20px;
        padding-top: 38px;
    }
    .user-box{
        display: flex;
        align-items: center;
        padding: 20px;
        img{
            width: 75px;
            height: 68px;
        }
    }
    .user-content{
        flex: 1;
        margin-left: 20px;
        > p{
            margin-bottom: 10px;
        }
        .hand-text{
            color: @menuActiveColor;
            margin-left: 10px;
            &:first-child{
                margin-left: 0;
            }
        }
    }
    .login-btn{
        display: inline-block;
        vertical-align:middle;
        width:67px;
        height: 26px;
        cursor: pointer;
        background:url('../img/home/login_btn.png') center no-repeat;
        &:hover{
            background-image:url('../img/home/login_btn_h.png');
        }
    }
}

.home-more-box{
    flex: 1;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    .home-more-text{
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
}


.notice-list{
    padding: 10px;
    > li{
        display: flex;
        padding: 0 10px;
        line-height: 26px;
    }
    .notice-title{
        flex: 1;
    }
    .notice-time{
        color: #999;
    }
}

.hand-text{
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}

.home-list{
    display: flex;
    flex-wrap:wrap;
    padding:10px 0 0 10px;
    > li{
        width: 162px;
        overflow: hidden;
        border: 1px solid @homeBorderColor;
        margin:0 10px 10px 0;
        padding-bottom: 5px;
        .img-box{
            height: 123px;
            line-height: 123px;
            text-align: center;
            margin-bottom: 5px;
            overflow: hidden;
            border-bottom: 1px solid @homeBorderColor;
        }
        > p{
            line-height: 20px;
            padding: 0 10px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: @menuActiveColor;
            &.time{
                color:#fff;
            }
        }
    }
}

.platform-list{
    display: flex;
    flex-wrap:wrap;
    padding: 10px;
    > li{
        width: 33%;
        height: 34px;
        line-height: 34px;
        text-align: center;
    }
}

.link-list{
    > li{
        height: 34px;
        line-height: 34px;
        padding: 0 20px;
    }
}

.platform-container{
    display: flex;
    .fit;
    > .flex-fit{
        display: flex;
        flex-flow: column;
    }
    .platform-header{
        display: flex;
        flex: 0 0 auto;
        height: 38px;
        background-color: #F2F2F2;
        text-align: right;
        padding-right: 20px;
        border-bottom: 2px solid #d9d9d9;
        > .nav-list{
            display: flex;
            flex: 1;
            justify-content: flex-end;
            > .btn-icon{
                height: 37px;
                line-height: 40px;
                font-size: 16px;
                font-weight: bold;
                color: #606060;
                margin: 0 10px;
                cursor: pointer;
                padding: 0 10px 0 38px;
                border-bottom:3px solid transparent;
                &.active{
                    color: @platformActiveColor;
                    border-bottom-color:@platformActiveColor;
                }
            }
            .iconfont{
                font-size: 20px;
                line-height: 20px;
                margin-top: 0;
                top: 10px;
                left: 10px;
            }
        }
    }
}

.flex-fit{
    flex: 1;
    overflow: hidden;
}


.search-view-container{
    background-color: #fff;
    padding: 0 10px;
    overflow: auto;
    .fit;
    .sv-content{
        .border;
    }

    .sv-tool-box{
        display: flex;
        height: 35px;
        padding: 0 15px;
        background-color: @searchToolBgColor;
        .border-bottom;
    }
    .view-type-box{
        display: flex;
        align-items: center;
        input{
            vertical-align: -2px;
            margin-right: 5px;
        }
        a{
            margin-left: 15px;
            &:first-child{
                margin-left: 0;
            }
        }
    }
    .paging-box{
        padding-top: 10px;
    }
}

.search-form{
    .search-form-line{
        display: flex;
        margin-top:10px;
        &:first-child{
            margin-top: 0;
        }
    }
    .search-item-box{
        display: flex;
        align-items: center;
        margin-left: 20px;
        &:first-child{
            margin-left: 0;
        }
    }
    .si-name{
        width: 60px;
        text-align:right;
    }
}

.check-text-list{
    display: flex;
    > li{
        height: 26px;
        line-height: 26px;
        padding: 0 5px;
        margin-left: 3px;
        cursor: pointer;
        &:first-child{
            margin-left: 0;
        }
        &.active{
            background-color: @searchActiveColor;
            color: #fff;
        }
    }
}

.combobox-link{
    display: flex;
    .combo-box{
        margin-left: 10px;
        border-radius: 0;
        &:first-child{
            margin-left: 0;
        }
    }
}

.diffdatetime-box{
    display: flex;
    align-items: center;
    .sep-text{
        margin: 0 10px;
    }
    .check-text-list{
        margin-left: 20px;
    }
}


.textbox{
    border-radius: 0;
    box-sizing: border-box;
    width: 140px !important;
    height: 26px !important;
    .textbox-text{
        width: 100% !important;
        padding-right: 20px;
    }
}


.sv-header{
    display: flex;
    padding: 10px 0;
}
.sv-btn-box{
}


.img-text-list{
    display: flex;
    flex-wrap:wrap;
    padding: 14px 0 0 14px;
    background-color: @bgColor;
    > li{
        width: 238px;
        margin: 0 14px 14px 0;
        padding: 0 0 5px 0;
        background: #F8F8F8;
        .border;
    }
    .img-box{
        height: 176px;
        .border-bottom;
        margin-bottom: 5px;
    }
    .line-text{
        height: 20px;
        line-height: 20px;
        padding: 0 10px;
    }
    .flex-box{
        align-items: center;
        padding-right: 10px;
        > .line-text{
            flex: 1;
        }
    }
}


.img-box-center{
    text-align: center;
    &:after{
        display:inline-block;
        vertical-align: middle;
        height: 100%;
        width: 0;
        font-size: 0;
    }
}

